/* css cho những thành phần riêng */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #999; /* Đường kẻ ngang */ 
}

a{
    text-decoration: none;
} */

.nav{
    padding:0 100px;
}

.text__content{
    max-width: 50%
}

.nav__container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%
}

.nav__list{
    list-style:none;
    font-size: 20px;
    display: flex;
    gap: 20px;
    margin-right: 200px;
    text-decoration: none;
}

.nav__logo{
    font-size: 30px;
    font-weight: bold;
    color: #1E40AF;
    padding: 0 100px;
}

.hero{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.hero__image{
    flex:1;
    text-align: right;
}

.hero__img{
    width: 400px;
    border-radius:15px;
    height: auto;
    margin-left: 300px;
    margin-top: 80px;
}

.hero__content{
    padding: 0 100px;
}

.hero__title {
    color: #1E40AF;
    font-size: 42px;
}

.hero__description {
    max-width: 400px;
    /* word-wrap: break-word; */
}

.stats {
    display: flex;
    padding-left: 100px;
    /* margin-bottom: 200px; */
    margin: 40px 0;
    text-align: center;
}

.stats__container {
    display: flex;
    gap: 50px;
}

.stats__item {
    font-size: 16px;
    color: #333;
}

.stats__number {
    font-weight: bold;
    font-size: 22px;
    color: #1E40AF;
}

.search {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    background: #E5E7EB;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
}

.search__container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search__item {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

.btn__search {
    background: #1E40AF;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}